<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.dao.mapper.OrderMapper">

    <sql id="orderBaseColumnSql">
        orderID,
        orderPrice,
        `date`,
        userID,
        orderStatus
    </sql>

    <sql id="orderBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.orderId)">
                    orderID = #{map.orderId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.orderPrice)">
                    AND orderPrice = #{map.orderPrice}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.date)">
                    AND `date` = #{map.date}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.userId)">
                    AND userID = #{map.userId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.orderStatus)">
                    AND orderStatus = #{map.orderStatus}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertOrder" parameterType="com.hzit.dao.entity.Order">
        INSERT INTO `order`(
        <include refid="orderBaseColumnSql"/>
        )VALUES(
            #{orderId},
            #{orderPrice},
            #{date},
            #{userId},
            #{orderStatus}
        )
    </insert>

    
    <delete id="deleteOrderByOrderId" parameterType="Integer">
        DELETE FROM `order` WHERE orderID = #{orderId}
    </delete>

    <update id="updateOrder" parameterType="com.hzit.dao.entity.Order">
        UPDATE `order`
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderPrice)">
                orderPrice = #{orderPrice} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(date)">
                `date` = #{date} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(userId)">
                userID = #{userId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderStatus)">
                orderStatus = #{orderStatus} ,
            </if>
        </set>
        WHERE orderID = #{orderId}
    </update>

    <select id="searchOrderByParams" parameterType="map" resultMap="orderMap">
        SELECT
        <include refid="orderBaseColumnSql"/>
        FROM `order`
        <include refid="orderBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.dao.entity.Order" id="orderMap">
        <id column="orderID" property="orderId"/>
        <result column="orderPrice" property="orderPrice"/>
        <result column="date" property="date"/>
        <result column="userID" property="userId"/>
        <result column="orderStatus" property="orderStatus"/>
    </resultMap>

</mapper>
